
* {
    box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 20px;
        font-family: Arial, sans-serif;
    }

    h1 {
        font-size: 30px;
        text-align: center;
        font-style: italic;
        
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    section {
        width: 33.33%;
        padding: 20px;
        border: 1px solid black;
        background-color: #F5F5F5;
        margin-bottom: 20px;
        
        
    }

    .section-title {
        position: relative;
    
        background-color: #FF5252;
        color: white;
        font-size: 75%;
        column-gap:2px ;
        left: 95%;
        right:0%;
        width:10%;
        margin-top:-5%;
        text-align: center;

    }

    @media (max-width: 991px) {
    section {
        width: 50%;
    }
    
    section:nth-child(3) {
        width: 100%;
    }
    }

    @media (max-width: 767px) {
    section {
        width: 100%;
    }
    }
@media (max-width: 767px) {
  .section {
    width: 100%;
  }
}
